{% extends "base.html.twig" %}

{% block title %}Cours4DevprofessorBundle:ProfessorController:delete{% endblock %}

{% block body %}
<h1>Welcome to the ProfessorController:delete page</h1>
{% endblock %}
