{% extends "base.html.twig" %}

{% block title %}Cours4DevprofessorBundle:ProfessorController:update{% endblock %}

{% block body %}
<h1>Welcome to the ProfessorController:update page</h1>
{% endblock %}
